@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --c1:#111729;
    --c2:#4036A9;
    --c3:#B4436D;
    --c4:#CDD5E0;
    --c5:#FFFFFF;
    --c6:#FFFFFF33;
    
}

body{
    background-image: linear-gradient(120deg,var(--c3),var(--c2)160%);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px 10px;
    min-height: 100vh;
    min-width: 150px;
}
body,
input,
select,
textarea,
button {
    font-family: "Be Vietnam Pro", sans-serif;
}

/* nav{
    border: 1px solid greenyellow;
} */
#logo{
    width: 110px;
}
main{
    max-width: 800px;
    justify-content: center;
    margin: auto;
}
#appelarea{
    padding: 40px 0px;
    margin: auto;
    max-width: 600px;
}
h1{
    font-size: clamp(18px, calc(28px + 36 * ((100vw - 320px) / 880)), 64px);
    color: var(--c5);
    text-align: center;
}
h2{
    margin-top: 20px;
    text-align: center;
    color: var(--c5);
    font-weight: 300;
    font-size: 16px;
}
#formarea{
    margin: 20px 0px 70px;
    background-color: var(--c6);
    border-radius: 16px;
    padding: 20px 12px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    width: 100%;
}
label{
    color: var(--c5);
    font-size: 14px;
}
input::placeholder, textarea::placeholder{
    color: var(--c1);
    font-size: 16px;
}


input, select, textarea, button{
    margin: 5px 0px 20px;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    color: var(--c1);
    font-weight: bold;
    outline: none;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(./assets/Expand_down.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    padding-right: 48px;
    background-color: var(--c5);
}
option {
    background-color: var(--c5);
    color: var(--c1);          
    font-weight: bold;                  
}

button{
    color: var(--c2);
    font-size: 20px;
    margin: 0px;
}
@media (min-width:800px){
    h2{
        font-size: 28px;
    }
    nav{
        margin-left: 6vw;
    }
    #formarea{
        padding: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .row_group {
        display: flex;
        flex-direction: row;
        gap: 24px; 
        width: 100%;
    }

    .input_group {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
